---
---

@import "{{ site.theme }}";


div.separator {
    margin: 20px 0 25px 0;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
    /* color: #ddd; */
    border: none;
    background: transparent;
    height: auto;
    content: '\2022 \2022 \2022';
  }